
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet">


    <link rel="stylesheet" href="css/estilos.css">

    <title>Formulario Login y Registro de Usuarios</title>
</head>
<body>

    <div class="contenedor-formularios">

        <div class="contenido-tab">
        
            <div >
                <h1>Encriptacion ASP</h1>
                <form action="#" method="post">
                    <div class="contenedor-input">
                        <label>
                            Usuario 
                        </label>
                        <input type="text" value="@ViewData["CONTENIDO"]" name="contenido" class="form-control" />
                    </div>

                    <div class="contenedor-input">
                        <textarea name="resultado" rows="5"
                                  class="form-control">@ViewData["TEXTOCIFRADO"]</textarea>
                    </div>
                    
                    <ul class="contenedor-tabs">
                        
                        <button name="accion" value="cifrar">Cifrar contenido</button>
                        <button name="accion" value="comparar">Comparar contenido</button>
                    </ul>
                </form>
                @Html.Raw(ViewData["MENSAJE"])
            </div>

            <div >
                
                
            </div>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
